/* .col-md-9
{
  background-color: pink;
  border: 2px solid black;
} */
.sports
{
  border: 3px black solid;
}
button
{
  width: 146px;
  height: 48px;
  font-size: 18px;
  color:  white;
  font-weight: 600;
  text-align: center;
  background-color: blue;
  border: 3px blue  solid;
  border-radius: 10px;

}
button:hover 
{
  background-color: rgb(1, 34, 220);
}
.logo {

/* width: 10px; */
height: 105px;

}